* {
    font-family: Helvetica, roboto, Arial, sans-serif;
}

/* header */
#header {
    background-color: #9db4db;
}

/* anuncio */
.anuncio {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.253);
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid black;
}

/* anuncio texto */
.anuncio p {
    text-align: center;
    padding: 2px;
    text-shadow: white 1px 1px 2px;
}

/* logo de la pag, flor */
.navbar-brand img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

/* bootsrap styles nav*/
.navbar ul {
    padding-top: 8px;
    margin-left: 115px;
}

/* tama;o del menu principal */
.nav-link {
    font-weight: 600;
    transition: 0.2s;
}

.nav-item a:hover {
    padding: 4px;
    color: #edafb8;
    transition: 0.2s;
}

/* search, login, carrito */
.icon-button-carrito,
.icon-button-login,
.bi-search-heart {
    color: black;
    font-size: 18px;
    padding: 8px 17px;
    transition: 0.3s;
}

/* color hover carrito y login */
.icon-button-login:hover,
.icon-button-carrito:hover,
.bi-search-heart:hover {
    color: #edafb8;
    transition: 0.3s;
}

/* menu hamburguesa */
.navbar-toggler {
    border: none;
    font-size: 1.2rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
}

/* Estilos para los controles del carrousel */

#main {
    background-color: rgb(245, 245, 233);
    border-top: 1px dashed black;
}

/* Estilos para el carrousel */
.carousel-caption h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.productos-cajas {
    background-color: rgb(243, 243, 233);
    width: auto;
}

.cajas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos {
    margin: 0px 62px 80px 62px;
    height: 450px;
    width: 355px;
    transition: 0.5s
}

.productos:hover {
    height: 490px;
    width: 385px;
    transition: 0.5s;
}

.productos img {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.productos a {
    text-align: center;
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 4px #000;
    transition: 0.4s;
}

.productos a:hover {
    transition: 0.4s;
    color: #edafb8;
}

/* espacio del formulario email */
.formulario-area {
    height: 100%;
    width: 100%;
    margin: 10px 0px;
    background-color: rgba(255, 255, 255, 0.466);
}

/* formulario de email */
.form-control {
    border-radius: 0;
}

/* formulario boton */
.btn {
    background-color: #9db4db;
    border: 0;
    height: 37px;
    border-radius: 0;
}

/* hover boton */
.btn:hover {
    background-color: #edafb8;
}

/* locales coleccion2024 */
.locales-coleccion {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagen-locales,
.imagen-coleccion {
    margin: 10px;
    height: 650px;
    width: 650px;
    background-color: black;
    transition: 1s;
}

.imagen-locales:hover,
.imagen-coleccion:hover {
    height: 700px;
    width: 700px;
    transition: 0.5s;
}

.imagen-locales img,
.imagen-coleccion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-locales,
.texto-coleccion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 650px;
    width: 650px;
    transition: 0.5s;
}

.texto-locales a,
.texto-coleccion a {
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000;
    transition: 0.5s;
}

.texto-locales h2,
.texto-coleccion h2 {
    font-size: 38px;
}

.texto-locales a:hover,
.texto-coleccion a:hover {
    transition: 0.5s;
    color: #9db4db;
}

.imagen-coleccion {
    order: 2;
}

.texto-coleccion {
    order: 1;
}

.titulo {
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.titulo h1 {
    transition: 0.5s;
    font-size: 250%;
    font-weight: 1000;
}

.titulo h1:hover {
    font-size: 260%;
    color: #9db4db;
    transition: 0.5s;
}

.inicio {
    text-align: center;
    height: 35px;
}

.inicio a {
    text-decoration: none;
    color: white;
    background-color: #9db4db;
    font-size: 17px;
    padding: 7px;
    transition: 0.3s;
}

.inicio a:hover {
    border: 1px dashed black;
    background-color: #edafb8;
    transition: 0.3s;
}

#footer {
    background-color: #9db4db;
    border-top: 1px dashed black;
    padding: 10px;
}

.container-fluid {
    flex-wrap: wrap;
}

.footer-item {
    text-align: center;
    padding-top: 5px;
    flex-wrap: wrap;
    margin: 10px 22px;
    width: 300px;
}

.footer-item h3 {
    font-weight: 600;
}

.footer-item button {
    background-color: #9db4db;
    transition: 0.2;
}

.footer-item button:hover {
    background-color: #edafb8;
    transition: 0.2s;
}

.footer-item a {
    font-size: 18px;
    margin-top: 7px;
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.footer-item a:hover {
    padding-left: 2px;
    transition: 0.2s;
    color: #edafb8;
}

/* Style redes */
.redes {
    padding: 10px;
    text-align: center;
    margin-right: 45px;
}

.redes h2 {
    font-weight: 600;
}

.redes ul li {
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
    width: 50px;
    height: 10px;
}

.facebook,
.intagram,
.twitter,
.whatsapp {
    transition: 0.5s;
}

.redes ul li .facebook:hover {
    background: rgb(13, 116, 201);
    transition: 0.5s;
}

.redes ul li .instagram:hover {
    background: #e6075c;
    transition: 0.5s;
}

.redes ul li .twitter:hover {
    background: rgb(0, 0, 0);
    transition: 0.5s;
}

.redes ul li .whatsapp:hover {
    background: rgb(12, 252, 72);
    transition: 0.5s;
}

.redes ul li a {
    display: block;
    background-color: #000000;
    color: white;
    line-height: 50px;
    font-size: 20px;
}

.redes ul li a:hover {
    box-shadow: 0 5px 5px 0px black;
    filter: none;
}

.span {
    color: black;
    text-align: center;
}

/* tienda */
.tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.productos-tienda h2 {
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 4px white;
    transition: 0.4s;
}

.productos-tienda {
    margin: 20px;
    height: 450px;
    width: 450px;
    background-color: black;
    transition: 1s;
}

.productos-tienda:hover {
    height: 500px;
    width: 500px;
    transition: 1s;
}

/* redes */
.titulo-redes h1 {
    margin: 10px;
    font-weight: 600;
    text-align: center;
}

.publicaciones-redes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 220px;
}

.publicaciones-redes {
    width: auto;
    height: 520px;
}

/* ofertas */

.imagen-pagina-en-construccion {
    text-align: center;
    padding: 10px;
}

.imagen-pagina-en-construccion img {
    height: 80%;
    width: 80%;
}

/* nosotros */

.imagen-nosotros {
    height: 100%;
    width: 100%;
}

.imagen-nosotros img {
    height: 400px;
    width: 720px;
}

.presentacion-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 500px;
}

.presentacion-nosotros h2 {
    font-weight: 600;
}

.maps {
    text-align: center;
}

.item5 {
    justify-self: center;
    align-self: center;
    background-color: yellow;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.formulario {
    height: 400px;
    width: 550px;
    margin: 0px auto;
}

.formulario h2 {
    margin: 15px;
    text-align: center;
}

.formulario form {
    max-width: 420px;
    margin: 0 auto;
}

.formulario form div {
    margin-bottom: 10px;
}

.formulario form label {
    display: block;
    margin-bottom: 5px;
}

.formulario form input,
.formulario form textarea {
    resize: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.formulario form button {
    padding: 5 px 10px;
    background-color: #9db4db;
    color: white;
    border: none;
    transition: 0.5;
}

.formulario form button:hover {
    background-color: #edafb8;
    transition: 0.5;
}

/* todos los media */
@media (max-width: 1416px) {

    .texto-locales,
    .texto-coleccion {
        display: block;
        height: 50px;
        margin-bottom: 20px;
        transition: 0.5s;
    }

    .texto-locales {
        margin-bottom: 30px;
    }

    .imagen-coleccion {
        order: 1;
    }

    .texto-coleccion {
        order: 2;
    }

    .titulo {
        margin: 50px 0px 70px 0px;
    }
}

/* media -990 */
@media (max-width: 990px) {
    .navbar ul {
        margin-left: 0px;
    }

    .nav-item a:hover {
        color: #edafb8;
    }
}

@media (max-width: 755px) {

    .imagen-locales,
    .imagen-coleccion {
        margin: 10px;
        height: 550px;
        width: 550px;
        transition: 0.5s;
    }

    .imagen-locales:hover,
    .imagen-coleccion:hover {
        height: 580px;
        width: 580px;
        transition: 0.5s;
    }
}

@media (max-width: 650px) {
    .maps iframe {
        height: 350px;
        width: 500px;
    }

    .imagen-locales,
    .imagen-coleccion {
        margin: 10px;
        height: 450px;
        width: 450px;
        transition: 0.5s;
    }

    .imagen-locales:hover,
    .imagen-coleccion:hover {
        height: 480px;
        width: 480px;
        transition: 0.5s;
    }
}

@media (max-width: 555px) {
    .formulario {
        max-width: 300px;
    }

    .maps iframe {
        height: 250px;
        width: 400px;
    }

    .productos-tienda {
        height: 300px;
        width: 300px;
    }

    .productos-tienda:hover {
        height: 320px;
        width: 320px;
    }

    .imagen-locales,
    .imagen-coleccion {
        margin: 10px;
        height: 350px;
        width: 350px;
        transition: 0.5s;
    }

    .imagen-locales:hover,
    .imagen-coleccion:hover {
        height: 400px;
        width: 400px;
        transition: 0.5s;
    }

    .productos {
        margin: 0px 62px 80px 62px;
        height: 390px;
        width: 305px;
        transition: 0.5s;
    }

    .productos:hover {
        height: 410px;
        width: 325px;
        transition: 0.5s;
    }
}

@media (max-width: 500px){
    .imagen-locales,
    .imagen-coleccion {
        margin: 10px;
        height: 300px;
        width: 300px;
        transition: 0.5s;
    }

    .imagen-locales:hover,
    .imagen-coleccion:hover {
        height: 310px;
        width: 310px;
        transition: 0.5s;
    }
    .productos {
        margin: 0px 62px 80px 62px;
        height: 350px;
        width: 285px;
        transition: 0.5s;
    }

    .productos:hover {
        height: 355px;
        width: 290px;
        transition: 0.5s;
    }

}