/* todos los media */
@media (max-width: 1600px) {
    .texto-locales {
        margin-bottom: 30px;
    }

    .titulo {
        margin: 50px 0px 70px 0px;
    }
}
@media (max-width: 1516px){
    .texto-locales,
    .texto-coleccion {
        display: block;
        height: 50px;
        margin-bottom: 20px;
    }
    .texto-coleccion{
        order: 2;
    }
}

/* media nosotros */
@media (max-width: 1416px) {
    .locales-ubicacion,
    .formulario-container,
    .maps-container,
    .locales-ubicacion{
        padding: 0px;
    }
    .nosotros h2,
    .locales-texto h2 {
        margin: 30px;
    }

    .formulario {
        padding: 50px;
    }

    .locales-texto {
        height: 250px;
        order: 2;
    }

    .img {
        order: 1;
    }

    .preguntas-frecuentes {
        order: 2;
    }

    .maps {
        height: 100%;
        width: 100%;
    }

    #form {
        order: 2;
    }

}
@media (max-width: 1500px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
        grid-template-areas:
            "img img img titulo titulo  titulo"
            "img img img descripcion descripcion descripcion "
            "relacionados relacionados relacionados relacionados relacionados  relacionados "
            "relacionados relacionados relacionados relacionados relacionados relacionados ";
    }
}

/* media redes */
@media (max-width: 1207px) {
    .publicaciones-redes-container {
        padding: 0px;
    }
        .nav-item a:hover {
            color: #edafb8;
        }
}
    /* media -990 */
    @media (max-width: 990px) {
        .navbar ul {
            margin-left: 0px;
        }
    }

@media (max-width: 1000px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        margin: 20px 0px;
        grid-template-areas:
            ". img img img img  ."
            ". img img img img . "
            ". titulo titulo titulo titulo  . "
            " . descripcion descripcion descripcion descripcion . "
            " relacionados relacionados relacionados relacionados relacionados relacionados";
    }

    #boton {
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .relacionados-productos {
        display: block;
        margin: 0 auto;
        width: 70%;
    }
    .relacionados-productos div{
        width: 100%;
        margin: 10px 0px;
    }
}

@media (max-width: 768px) {

    .nosotros,
    .locales-ubicacion {
        padding: 20px;
        img{
            height: 100%;
            width: 100%;
        }
    }

    .texto-nosotros p,
    .locales-texto p {
        width: 300px;
    }

    .carousel-slide {
        display: none;
    }
}

@media (max-width: 755px) {

    .imagen-locales,
    .imagen-coleccion {
        margin: 10px;
        height: 550px;
        width: 550px;
        transition: 0.5s;
    }

    .imagen-locales:hover,
    .imagen-coleccion:hover {
        transform: scale(1.02);
    }
}

@media (max-width: 650px) {
    .formulario form input,
    .formulario form textarea {
        width: 300px;
    }
    .publicaciones-redes {
        margin: 5px 0px;
    }
    .maps{
        iframe{
            height: 400px;
            width: 450px;
        }
    }
    .imagen-locales,
    .imagen-coleccion {
        margin: 10px;
        height: 450px;
        width: 450px;
        transition: 0.5s;
    }

    .imagen-locales:hover,
    .imagen-coleccion:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 555px) {
    .publicaciones-redes {
        margin: 10px;
        width: 350px;
        height: 550px;
    }
    .formulario {
        max-width: 300px;
    }
    .maps{
        iframe{
            height: 300px;
            width: 350px;
        }
    }

    .productos-tienda-remeras {
        height: 300px;
        width: 300px;
    }

    .productos-tienda:hover {
        transform: scale(1.1);
    }

    .imagen-locales,
    .imagen-coleccion {
        margin: 10px;
        height: 350px;
        width: 350px;
        transition: 0.5s;
    }

    .imagen-locales:hover,
    .imagen-coleccion:hover {
        transform: scale(1.03);
    }

    .productos {
        margin: 0px 62px 80px 62px;
        height: 390px;
        width: 305px;
        transition: 0.5s;
    }

    .productos:hover {
        transform: scale(1.1)
    }
}

@media (max-width: 500px) {

    .imagen-locales,
    .imagen-coleccion {
        margin: 10px;
        height: 320px;
        width: 320px;
        transition: 0.5s;
    }

    .imagen-locales:hover,
    .imagen-coleccion:hover {
        transform: scale(1.05);
    }

    .productos {
        margin: 0px 62px 80px 62px;
        height: 380px;
        width: 290px;
        transition: 0.5s;
    }

    .productos:hover {
        transform: scale(1.1);
    }

    .titulo h1 {
        width: 18rem;
    }
}
@media (max-width: 420px){
    .nosotros{
        padding: 50px;
    }
    .locales-ubicacion{
        padding: 50px;
    }
    .maps{
        iframe{
            height: 300px;
            width: 300px;
        }
    }
    .formulario form input,
    .formulario form textarea {
        width: 250px;
    }
}