/* header */

#header {
    background-color: $color-azul;
}

/* anuncio */

.anuncio {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.253);
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid black;
    p {
        padding: 2px;
        width: 160px;
        text-shadow: white 1px 1px 2px;
        position: relative;
        animation: mover 10s infinite;
    }
}
/* anuncio texto */

/* logo de la pag, flor */

.navbar-brand img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    filter: drop-shadow(2px 1px 1px rgb(122, 119, 119));
    &:hover{
        filter: drop-shadow(2px 1px 1px $color-rosa);
    }
}

/* bootsrap styles nav*/

.navbar ul {
    padding-top: 8px;
    margin-left: 115px;
}

/* tama;o del menu principal */

.nav-link {
    font-weight: 600;
    transition: 0.2s;
}

.nav-item a:hover {
    color: $color-rosa;
}

/* search, login, carrito */

.icon-button-carrito{
    color: black;
    font-size: 18px;
    padding: 8px 17px;
    transition: 0.3s;
    &:hover{
        color: $color-rosa;
    }
}
.icon-button-login{
    @extend .icon-button-carrito
}
.bi-search-heart{
    @extend .icon-button-carrito
}


/* menu hamburguesa */

.navbar-toggler {
    border: none;
    font-size: 1.2rem;

    &:focus {
        box-shadow: none;
    }
}

.btn-close:focus {
    box-shadow: none;
}