#canjear,
#tarjetas,
#talles,
#locales,
#nosotros,
#politica,
#envios,
#pagos{
    margin-top: 200px;
}
#garantia{
    margin-top: 50px;
}
#canjear{
    margin-bottom: 50px;
}
.talle-texto{
    padding: 10px;
    h2{
        font-weight: 600;
    }
}
.talle-form {
    table {
        width: 100%;
    }
    th,td{
        background-color: #ffffff;
            border: 1px solid #000000;
            padding: 8px;
            text-align: left;
    }
}
.texto-consultas{
    h2{
        @include h2;
        @include flexcenter;
        @include textshadow;
        text-align: center
    }
    p{
        @include p;
    }
    strong{
        text-decoration: underline; 
        color: $color-azul;
    }
}