/* tienda */
.tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    a{
        @include a;
    }
}
.productos-tienda {
    background-image: url(../img/remera-fondo.jpg);
    @include productocentrado;
    @include productostienda;
    @include flexcenter;
    h2 {
        color: white;
        text-shadow: 2px 2px 4px white;
        transition: 0.4s;
    }
    &:hover {
        transform: scale(1.07);
    }
}
